.DS_Store
.env
node_modules/
bower_components/
local/cache/*
local/storage/*
local/temp/*
installer.php
.vscode
public/themes/faros2019/config.codekit3
public/themes/faros2019/assets/*.mp4
public/themes/faros2019/assets/*.ogg
public/themes/faros2019/assets/*.webm