<footer class="home-section--footer home-grid--footer">
  <figure class="footer-logo">
    <img src="{{ theme:asset src='assets/faros-logo-white-vertical.png' }}">
  </figure>
  <div id="farosMap"></div>
  <div class="footer-content">
    <address>Mavrommateon 5, Athens 10682, GR, +30 2108251611, <a href="mailto:faros@faros.org.gr">faros@faros.org.gr</a></address>
    <form class="footer-newsletter" method="POST" action="https://formspree.io/faros@faros.org.gr">
      <h3 class="content__title">news<br>letter</h3>
      <input class="footer__input" type="email" id="newsletter_email" name="newsletter_email"  placeholder="your email address">
      <input type="hidden" name="_subject" value="Please add me to the Faros newsletter mailing list" />
      <!-- <input type="hidden" name="_cc" value="tim@ecclesia-ex.gr" /> -->
      <input type="hidden" name="_next" value="/subscribed.html" />
      <button class="footer__submit" type="submit">></button>
    </form>
  </div>
  <div class="footer-info">
    <p>Copyright &copy; Faros N.G.O. | All rights reserved</p>
    <!-- <p>Site by <a href="http://aeraki.gr" target="_blank">aeraki</a> | Credits</p> -->
  </div>
</footer>