{{ partial:menu_main }}

<div class="grid-page" id="top"> 

  <nav class="nav-main home-section--nav home-grid--nav">
    {{ partial:svg_journey }}
  </nav>

  {{ partial:page_sticky_header }}

  <main class="main-about">

    <article id="section1">
      <p class="area-heading">01. About</p>
      <div class="grid-content">
        <h2 class="main-title">{{ title1 }}</h2>
        <div class="area-content">
          {{ content1 | markdown }}
        </div>
      </div>
    </article>

    <div class="divider"></div>

    <article id="section2">
      <div class="grid-content">
        <h2 class="main-title">{{ title2 }}</h2>
        <div class="area-content">
          {{ content2 | markdown }}
        </div>
      </div>
    </article>

    <div class="divider"></div>

    <article id="section3">
      <h2 class="main-title">{{ title3 }}</h2>
      <div class="section-summary">
        {{ content3 | markdown }}
      </div>
      <div class="grid-reports">
        <ul>
          <h4>Annual</h4>
          {{ annualreports }}
          <li>
            <a href="{{ assets:reportfile }} {{ url }} {{ /assets:reportfile }}">
              {{ reporttitle }}
            </a>
          </li>
          {{ /annualreports }}
        </ul>
        <ul>
          <h4>Financial</h4>
          {{ financialreports }}
          <li>
            <a href="{{ assets:reportfile }} {{ url }} {{ /assets:reportfile }}">
              {{ reporttitle }}
            </a>
          </li>
          {{ /financialreports }}
        </ul>
        <ul>
          <h4>Statements</h4>
          {{ statements }}
          <li>
            <a href="{{ assets:reportfile }} {{ url }} {{ /assets:reportfile }}">
              {{ reporttitle }}
            </a>
          </li>
          {{ /statements }}
        </ul>
      </div>
    </article>

    <div class="divider"></div>

    <article id="section4">
      <h2 class="main-title">{{ title4 }}</h2>
      <div class="section-summary">
        {{ content4 | markdown }}
      </div>
      
    </article>

  </main>

  {{ partial:footer_nomap }}

  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
<script src="{{ theme:js src='site-min.js' }}"></script>
{{ partial:sticky-js }}