{{ partial:menu_main }}

<div class="grid-page grid-page--news" id="top">

  <header class="page-header--generic">
    <a href="/" class="site-logo">
      {{ theme:img src="faros-logo-white-horizontal.png" tag="true" }}
    </a>
    <div class="page-intro__image page-intro__image--newspost">
      {{ if image }}
          <img src="{{ image }}">
      {{ /if }}
    </div>
    <div class="page-intro__text page-intro__text--newspost">
      <h1 class="page-intro__title">news</h1>
    </div>
  </header>

  <main class="about-section about-grid--main">

    <article class="singlenews__article">
      <date class="area-heading">
        {{ newsdate format="j F 'y" }}
      </date>
      <h3 class="main-title">
        {{ title }}
      </h3>
      <section class="grid-singlenews">
        <div class="singlenews__tags">
          <h5 class="singleness__tags-title">Tags</h5>
          {{ taxonomy:tags sort="title" }}
            <a href="{{ url }}">{{ title }}</a>
          {{ /taxonomy:tags }}
        </div>
        <div class="singlenews__content">
          {{ content }}
        </div>
      </section>

      <a class="back-to" href="{{ link to='news' }}">Back to news</a>

    </article>

  </main>

  {{ partial:footer }}

</div> <!-- end grid-page -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{{ partial:map-js }}